@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Black.eot");
  src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#about_body{
  background-color: black;
}
.site-section-small {
  padding: 20px 40px;
  background-color: black;
}

.section-title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  padding-top:60px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;

  
}

.container-fluid-custom{
  max-width: 55%;
  margin:auto;
  padding-top: 20px;
}

@media (max-width: 1500px) {
  .container-fluid-custom {
    max-width: 95% !important;
  }
}


.section-text {

  line-height: 42px; /*change 25 to 30px*/
  max-width: 800px;
  margin: 0px auto 5px;
  font-size:20px;
  font-family: 'Poppins',sans-serif;
  text-align: center;
  
}

h2,p{
  color: white;
}

.header--logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #fff
}

.header--logo:hover{
  text-decoration: none;
  color: white;
}


.header--logo img{
  height: auto;
  max-width: 50px;
}

.header--logo p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat';
}
