.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-1 .u-text-1 {
  width: 166px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0px;
  margin: 68px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 782px;
  grid-template-columns: auto auto auto;
  width: 936px;
  grid-gap: 10px 10px;
  margin: 30px auto 60px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-1 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-6 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-slide-7 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-1 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-slide-8 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-1 .u-gallery-item-9 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-slide-9 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-9 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-1 .u-text-1 {
    text-transform: none;
  }

  .u-section-1 .u-gallery-1 {
    height: 996px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1786px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1923px;
    grid-template-columns: repeat(2, auto);
    width: 720px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4354px;
  }

  .u-section-1 .u-gallery-1 {
    height: 5192px;
    grid-template-columns: repeat(1, auto);
    width: 540px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2843px;
  }

  .u-section-1 .u-gallery-1 {
    height: 3269px;
    width: 340px;
  }
}