@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body{
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  padding: 50px;
  text-align: center;
  background-color: black;
  scroll-behavior: smooth;
}


.header--logo {
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; */
  text-decoration: none;
  color: #fff
}

.header--logo:hover{
  text-decoration: none;
  color: white;
}

.header--logo img{
  height: auto;
  max-width: 50px;
}

.header--logo p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase
}

.team_heading1{
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  
}

.team_heading1 h1{
  color: white;
}

.team_heading{
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  /* border: 5px solid #0f33ff;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px; */
  border-bottom:5px solid wheat;
  border-top:5px solid wheat;
}
.team_heading h1{
  color: white;
}

.box{
  margin:43px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;

}

@media (min-width: 568px){
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 31.5%;
 }
}



.contain{
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  /* background: linear-gradient(45deg, #7b00e0, #ae31d9); */
  background: #2b24ed;
}
.contain:hover{
  height: 430px;
  width: 350px;
  border-radius: 50px;
  box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
}
.contain .wrapper img{
  position: relative;
  z-index: 20;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
}

.contain .wrapper img:hover{
  cursor: pointer;
}

.contain:hover .wrapper img.active{
  height: 470px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}
.wrapper .title{
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
}
.wrapper .place{
  color: #fff;
  font-size: 15px;
  line-height: 0px;
  margin: 18px 0 13px 0;
}
.content{
  color: wheat;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px!important;
}

.contain .icons{
  position: relative;
  margin-top: -362px;
  margin-left: 13px;
  list-style: none;
}
.contain .icons.active{
  display: none;
}
.contain .icons li{
  height: 40px;
  width: 40px;
  margin: 5px 0;
  opacity: 0;
  margin-left: -100px;
  transition: all 0.5s ease;
}
.contain:hover .icons li{
  opacity: 1;
  margin-left: 7px;
}
.contain:hover .icons li:nth-child(2){
  transition-delay: 0.2s;
}
.contain:hover .icons li:nth-child(3){
  transition-delay: 0.4s;
}
.contain .icons li a{
  color: #7b00e0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: whitesmoke;
  display: block;
  line-height: 40px;
  transition: all 0.3s;
}
.contain .icons li a:hover{
  transform: scale(0.9);
  color: rgb(179, 31, 31);
}
#footer {
  padding: 1% 4%;
  text-align: center;
  color: white;
}