@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: black;
  scroll-behavior: smooth;
}

.header--logo {
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; */
  text-decoration: none;
  color: #fff;
}

.header--logo:hover {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 515px){
  .fix_1{
    margin: 0px 200px 0px 0px !important;
  }
}
.header--logo img {
  height: auto;
  max-width: 50px;
}

.header--logo p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.team_heading1 {
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 10px;
}

.team_heading1 h1 {
  color: white;
}

.team_heading {
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  /* border: 5px solid #0f33ff;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px; */

  border-bottom:5px solid rgb(255, 240, 213);
  border-top:5px solid rgb(255, 240, 213);

}
.team_heading h1 {
  color: white;
}

.box {
  margin: 43px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}

@media (min-width: 568px) {
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 31.5%;
  }
}

.contain {
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  /* background: linear-gradient(45deg, #7b00e0, #ae31d9); */
  background: #3D84B8;
}
.contain:hover {
  height: 430px;
  width: 350px;
  border-radius: 50px;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.contain .wrapper img {
  position: relative;
  z-index: 20;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
}

.contain .wrapper img:hover {
  cursor: pointer;
}

.contain:hover .wrapper img.active {
  height: 470px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}
.wrapper .title{
  color: #F0EBCC;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
}

.wrapper .place{
  color: #F0EBCC;
  font-size: 15px;
  line-height: 0px;
  margin: 18px 0 13px 0;
}

.content{
  color: #F0EBCC;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px !important;
}

.contain .icons {
  position: relative;
  margin-top: -315px;
  margin-left: 13px;
  list-style: none;
}
.contain .icons.active {
  display: none;
}
.contain .icons li {
  height: 40px;
  width: 40px;
  margin: 5px 0;
  opacity: 0;
  margin-left: -100px;
  transition: all 0.5s ease;
}
.contain:hover .icons li {
  opacity: 1;
  margin-left: 7px;
}
.contain:hover .icons li:nth-child(2) {
  transition-delay: 0.2s;
}
.contain:hover .icons li:nth-child(3) {
  transition-delay: 0.4s;
}
.contain .icons li a {
  color: #3D84B8;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: whitesmoke;
  display: block;
  line-height: 40px;
  transition: all 0.3s;
}
.contain .icons li a:hover {
  transform: scale(0.9);
  color: rgb(179, 31, 31);
}
#footer {
  padding: 1% 4%;
  text-align: center;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  padding: 0%;
  width: 100%;
}

#logo img {
  height: 80px;
  padding: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 18px;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: black;
  background-color: white;
}


.header {
  background-color: black;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100%;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: none !important;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.header-logo1{
  height: 80px;
  padding: 20px;
  float: left;
}
